<div class="field-list-container">
  <div class="header">
    <h3>Form Fields</h3>
    <div class="header-actions">
      <nz-upload [nzBeforeUpload]="" (nzChange)="importFields($event)" [nzShowUploadList]="false">
        <button nz-button>
          <i nz-icon nzType="import"></i>
          Import
        </button>
      </nz-upload>
      <button nz-button nzType="default" (click)="showFieldsJson()" [disabled]="fields.length === 0">
        <i nz-icon nzType="file-text"></i>
        Show JSON
      </button>
      <button nz-button nzType="primary" (click)="exportFields()" [disabled]="fields.length === 0">
        <i nz-icon nzType="export"></i>
        Export
      </button>
    </div>
  </div>

  <nz-empty *ngIf="fields.length === 0" [nzNotFoundContent]="'No fields added yet'"></nz-empty>

  <div class="field-list" *ngIf="fields.length > 0">
    <nz-card *ngFor="let field of fields" class="field-card">
      <div *ngIf="editingField?.id !== field.id">
        <div class="field-header">
          <span class="field-icon">
            <i nz-icon [nzType]="getFieldTypeIcon(field.inputType)"></i>
          </span>
          <div class="field-info">
            <span class="field-name">{{ field.name }}</span>
            <span class="field-type">{{ field.inputType.replace('_', ' ') }}</span>
          </div>
          <span class="field-actions">
            <button nz-button nzType="link" nzSize="small" (click)="editField(field)">
              <i nz-icon nzType="edit"></i>
            </button>
            <button nz-button nzType="link" nzSize="small" nzDanger (click)="deleteField(field.id)">
              <i nz-icon nzType="delete"></i>
            </button>
          </span>
        </div>
        <div class="field-details">
          <nz-tag [nzColor]="getFieldTypeColor(field.inputType)">{{ field.inputType.replace('_', ' ') }}</nz-tag>
          <nz-tag [nzColor]="getRecipientColor(field.recipientIndex)">{{ getRecipientLabel(field.recipientIndex) }}</nz-tag>
          <nz-tag>Page {{ field.locations.pageNumber }}</nz-tag>
          <nz-tag [nzColor]="field.required ? 'red' : 'default'">
            {{ field.required ? 'Required' : 'Optional' }}
          </nz-tag>
        </div>
        <div class="field-position">
          <span>Position: ({{ field.locations.left }}, {{ field.locations.top }})</span>
          <span>Size: {{ field.locations.width }} × {{ field.locations.height }}</span>
        </div>
      </div>

      <ng-container *ngIf="editingField?.id === field.id && editingField as editing">
        <div class="edit-form">
          <nz-form-item>
            <nz-form-label nzRequired>Field Name</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="editing.name" placeholder="e.g., signature_1" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Input Type</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="editing.inputType">
                <nz-option [nzValue]="'TEXT_FIELD'" nzLabel="Text Field"></nz-option>
                <nz-option [nzValue]="'MULTILINE'" nzLabel="Multiline Text"></nz-option>
                <nz-option [nzValue]="'SIGNATURE'" nzLabel="Signature"></nz-option>
                <nz-option [nzValue]="'CHECKBOX'" nzLabel="Checkbox"></nz-option>
                <nz-option [nzValue]="'RADIO'" nzLabel="Radio Button"></nz-option>
                <nz-option [nzValue]="'DROP_DOWN'" nzLabel="Dropdown"></nz-option>
                <nz-option [nzValue]="'DATE'" nzLabel="Date"></nz-option>
                <nz-option [nzValue]="'HYPERLINK'" nzLabel="Hyperlink"></nz-option>
                <nz-option [nzValue]="'IMAGE'" nzLabel="Image"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>Content Type</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="editing.contentType" [nzAllowClear]="true">
                <nz-option [nzValue]="'DATA'" nzLabel="Data"></nz-option>
                <nz-option [nzValue]="'SIGNATURE'" nzLabel="Signature"></nz-option>
                <nz-option [nzValue]="'SIGNER_INITIALS'" nzLabel="Signer Initials"></nz-option>
                <nz-option [nzValue]="'SIGNER_NAME'" nzLabel="Signer Name"></nz-option>
                <nz-option [nzValue]="'SIGNER_EMAIL'" nzLabel="Signer Email"></nz-option>
                <nz-option [nzValue]="'SIGNING_DATE'" nzLabel="Signing Date"></nz-option>
                <nz-option [nzValue]="'SIGNER_TITLE'" nzLabel="Signer Title"></nz-option>
                <nz-option [nzValue]="'SIGNER_COMPANY'" nzLabel="Signer Company"></nz-option>
                <nz-option [nzValue]="'IMAGE'" nzLabel="Image"></nz-option>
                <nz-option [nzValue]="'QR_CODE'" nzLabel="QR Code"></nz-option>
                <nz-option [nzValue]="'HYPERLINK'" nzLabel="Hyperlink"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Recipient</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="editing.recipientIndex">
                <nz-option [nzValue]="1" nzLabel="Signer"></nz-option>
                <nz-option [nzValue]="2" nzLabel="Approver"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox [(ngModel)]="editing.required">Required Field</label>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>Page Number</nz-form-label>
            <nz-form-control>
              <nz-input-number [(ngModel)]="editing.locations.pageNumber" [nzMin]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>

          <div class="form-row">
            <nz-form-item>
              <nz-form-label>Left</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="editing.locations.left" placeholder="X position" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Top</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="editing.locations.top" placeholder="Y position" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-row">
            <nz-form-item>
              <nz-form-label>Width</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="editing.locations.width" placeholder="Field width" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Height</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="editing.locations.height" placeholder="Field height" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="edit-actions">
            <button nz-button nzType="primary" (click)="saveField()">Save</button>
            <button nz-button (click)="cancelEdit()">Cancel</button>
          </div>
        </div>
      </ng-container>
    </nz-card>
  </div>
</div>